@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
 
}

body {
  font-family: "Poppins", serif;
  color: rgb(214, 214, 214);
  height: 100vh;
  
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 40px;
  height: 100%;
  
}

a {
  color: white;
  text-decoration: none;
}

.nav-link {
  list-style: none;
  margin: 20px 0;
  border-bottom: 2px solid white;
  width: 8rem;
}

/* Navbar */
.navbar {
  background: rgb(20, 20, 20);
  position: fixed;
  width: 100%;
}

.flex-nav {
  display: flex;
  flex-direction: column;
}

.nav-header span {
  color: rgb(248, 104, 104);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  border: transparent;
  background: transparent;
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  height: 0;
  overflow: hidden;
}

.nav-open {
  height: 100vh;
}

@media only screen and (min-width: 900px) {
  .nav-toggle {
    display: none;
  }

  .nav-header {
    display: block;
  }

  .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .nav-links {
    height: auto;
  }

  ul {
    text-align: center;
  }

  .nav-link {
    display: inline-block;
    border-bottom: none;
  }

  .nav-links span {
    background: rgb(70, 70, 70);
    padding: 8px 15px;
    border-radius: 4px;
  }
}
/* INICIO */
/* contenedor inicio (foto) y contenedor textp+botones */
/* .contenedorInicio{
  display: flex;
  background-color: red;
  padding-top: 80px;
  height: 100vh;
} */


.contenedorInicio {
  display: flex;
  background-color: red;
  padding-top: 108px;
  height: 150%;
  flex-direction: column;
}

.fotos {
  display: flex;
  justify-content: center;
  padding-bottom: 23px
}

.textoYbotones{
  display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;

}

.imagenInicio{
 margin-right: 10px;
  display: flex;
  min-width: 100px;
  max-width: 200px;
  min-height: 10px;
  min-width: 10px;
}

/* FORMACION contenedor formacion y sus formaciones */
.contenedorFormacion{
  display: flex;
  flex-direction: column;
}

.divFormacion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.fotoFormacion{
  display: flex;
}

.formacionYboton{
  display:flex;
  flex-direction: column;
}

.textoFormacion{
  display: flex;
}

.botonFormacion{
  display: flex;
}

.imgFormacion{
  max-width: 200px;
  max-height: 200px;
}


/* BOOTCAMP */

.imgbootcamp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* HORIZONTAL SCROLL */
  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }

